<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.study.asdl.dao.LockMapper" >
  <resultMap id="BaseResultMap" type="org.study.asdl.model.domain.Lock" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="lock_name" property="lockName" jdbcType="VARCHAR" />
    <result column="lock_no" property="lockNo" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="software_version" property="softwareVersion" jdbcType="VARCHAR" />
    <result column="hardware_version" property="hardwareVersion" jdbcType="VARCHAR" />
    <result column="factory_date" property="factoryDate" jdbcType="VARCHAR" />
    <result column="is_lock" property="isLock" jdbcType="INTEGER" />
    <result column="is_online" property="isOnline" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryListWithPage" resultType="org.study.asdl.model.domain.Lock">
    select * from t_lock
    where 1 = 1
    <if test="lockNo != null and lockNo != ''">
      AND lock_no LIKE concat('%', lockNo, '%')
    </if>
    order by created_time
  </select>
</mapper>