<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.study.asdl.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="org.study.asdl.model.domain.Room" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="apartment_id" property="apartmentId" jdbcType="BIGINT" />
    <result column="room_no" property="roomNo" jdbcType="VARCHAR" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="floor_no" property="floorNo" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="people_number" property="peopleNumber" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryListWithPage" resultType="org.study.asdl.model.vo.RoomVo">
    select
     r.*, a.apartment_name, l.lock_no, lr.lock_id
    from t_room r
    left join t_lock_room lr on r.id = lr.room_id
    left join t_lock l on l.id = lr.lock_id
    left join t_apartment a on a.id = r.apartment_id
    where 1 = 1
    <if test="roomNo != null and roomNo != ''">
      AND room_no LIKE concat('%', #{roomNo}, '%')
    </if>
    <if test="lockNo != null and lockNo != ''">
      AND lock_no LIKE concat('%', #{lockNo}, '%')
    </if>
    order by created_time
  </select>

  <select id="queryCheckListWithPage" resultType="org.study.asdl.model.vo.RoomVo">
    SELECT
        r.*, a.apartment_name,
        l.lock_no,
        lr.lock_id,
        o.check_in,
        o.check_out,
        o.guest_name
    FROM
        t_room r
    LEFT JOIN t_lock_room lr ON r.id = lr.room_id
    LEFT JOIN t_lock l ON l.id = lr.lock_id
    LEFT JOIN t_apartment a ON a.id = r.apartment_id
    LEFT JOIN t_order o ON r.id = o.room_id
    WHERE
        1 = 1
    <if test="mobileNo != null and mobileNo != ''">
      AND o.guest_mobile = #{mobileNo}
    </if>
    <if test="roomNo != null and roomNo != ''">
      AND room_no LIKE concat('%', #{roomNo}, '%')
    </if>
    <if test="lockNo != null and lockNo != ''">
      AND lock_no LIKE concat('%', #{lockNo}, '%')
    </if>
    order by created_time
  </select>
</mapper>